@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --app-font: 'Montserrat', sans-serif;
    --font-size: 16px;
    --white: hsl(0deg 0% 100%);
    --nav-bg: hsl(210deg 27% 24%);
    --active-bg: hsl(209deg 27% 21%);
}

body {
  font-family: var(--app-font);
  font-size: var(--font-size);
}

.App #users__app nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg);
  padding: 10px 0px;
}

.App #users__app nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
}

.App #users__app nav ul li {
  list-style-type: none;
  color: var(--white);
}

.App #users__app nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px var(--nav-bg);
}

.App #users__app nav ul li a:hover {
  background-color: var(--active-bg);
  border: solid 1px var(--white);
}

.App #users__app nav ul li a.active {
  background-color: var(--active-bg);
  border: solid 1px var(--white);
}

.App #users__app #users__app__home {
  text-align: center;
}