@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --app-font: 'Montserrat', sans-serif;
    --font-size: 16px;
    --white: hsl(0deg 0% 100%);
    --black: hsl(0deg 0% 5%);
    --nav-bg: hsl(210deg 27% 24%);
    --active-bg: hsl(209deg 27% 21%);
    --anchor-hover: hsl(22deg 85% 66%);
}

body {
  font-family: var(--app-font);
  font-size: var(--font-size);
}

.App #users__app nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg);
  padding: 10px 0px;
}

.App #users__app nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 0;
  margin-top: 1rem;
}

.App #users__app nav ul li {
  list-style-type: none;
  color: var(--white);
}

.App #users__app nav ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px var(--nav-bg);
}

.App #users__app nav ul li a:hover {
  background-color: var(--active-bg);
  border: solid 1px var(--white);
}

.App #users__app nav ul li a.active {
  background-color: var(--active-bg);
  border: solid 1px var(--white);
}

.App #users__app #users__app__home {
  text-align: center;
}

.App #users__app #users__app__about {
  text-align: center;
}

.App #users__app #users__app__error {
  text-align: center;
}

.App #users__app #users__app__userslist .title {
  text-align: center;
}

.App #users__app #users__app__userslist .users__list .users ul {
  padding-left: 0;
}

.App #users__app #users__app__userslist .users__list .users ul li {
  list-style-type: none;
}

.App #users__app #users__app__userslist .users__list .users ul li a {
  font-size: 20px;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.App #users__app #users__app__userslist .users__list .users ul li a:hover {
  color: var(--anchor-hover);
}

.App #users__app #users__app__userslist .users__list .users ul li a.active {
  color: var(--anchor-hover);
}

.App #users__app #users__app__userslist .users__list .users ul li:nth-child(even) a::before {
  content: url(/src/img/user-one.png);
  line-height: normal;
}

.App #users__app #users__app__userslist .users__list .users ul li:nth-child(odd) a::before {
  content: url(/src/img/user-two.png);
  line-height: normal;
}

.App #users__app #users__app__userslist #users__app__userdetail .headline {
  font-size: 12px;
  text-decoration: underline;
}

.App #users__app #users__app__userslist #users__app__userdetail .detail {
  margin-bottom: 20px;
}

.App #users__app #users__app__userslist #users__app__userdetail .next__button {
  padding: 20px 0px;
}

.App #users__app #users__app__userslist #users__app__userdetail .next__button a {
  background-color: var(--white);
  border: solid 1px var(--nav-bg);
  color: var(--black);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.App #users__app #users__app__userslist #users__app__userdetail .next__button a:hover {
  background-color: var(--nav-bg);
  color: var(--white);
}
